body
{
    color:black;
    font-size:16px;
    font-family: 'baskerville', 'times new roman', 'times roman', 'times', serif;
}
div#blog
{
    margin:0px auto 0px auto;
    width: 33em;
    padding-bottom: 2em;
}
menu#page_menu
{
    margin: auto;
    padding: 0;
    color: #555;
    text-transform: uppercase;
    text-align: center;
}
menu#page_menu a
{
    text-decoration: none;
    color: #555;
}
h1
{
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    color: #333;
}
p
{
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}
.post_list
{
    padding: 0;
    list-style-type: none;
}
a { text-decoration: none; }
a:hover { text-decoration: underline; }
pre
{
    font-family: monospace;
    font-size: 14px;
    background-color: #eee;
    padding-left: 0.5em;
}
