body
{
    color:black;
    font-size:16px;
    margin:0px auto 0px auto;
    width:40em;
    font-family:'times new roman', 'times roman', 'times', serif;
}
ul#page_menu
{
    width: 20em;
    margin: auto;
    list-style-type: none;
}
ul#page_menu li
{
    display: inline;
    color: #555;
    text-transform: uppercase;
}
ul#page_menu li a
{
    text-decoration: none;
    color: #555;
}
h1
{
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    color: #333;
}
p
{
    margin-left: auto;
    margin-right: auto;
    width: 36em;
}
.post_list
{
    list-style-type: none;
}
