body
{
    color:black;
    font-size:16px;
    font-family:'times new roman', 'times roman', 'times', serif;
}
div#blog
{
    margin:0px auto 0px auto;
    width: 550px;
}
menu#page_menu
{
    width: 20em;
    margin: auto;
    padding: 0;
    color: #555;
    text-transform: uppercase;
    text-align: center;
}
menu#page_menu a
{
    text-decoration: none;
    color: #555;
}
h1
{
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    color: #333;
}
p
{
    margin-left: auto;
    margin-right: auto;
    width: 36em;
}
.post_list
{
    padding: 0;
    list-style-type: none;
}
